[Desktop Entry]
Name=Database 
Name[de]=Datenbanken
Name[fr]=Bases de données
Comment=LibreOffice Base
Version=1.0
Terminal=false
#Icon=libreoffice-base
Icon=ooo-base
Type=Application
Categories=Office;Database;
Exec=libreoffice --base %U
MimeType=application/vnd.oasis.opendocument.database;application/vnd.sun.xml.base;
StartupNotify=true
X-GIO-NoFuse=true
Keywords=Data;SQL;
InitialPreference=5
Actions=NewDatabase
StartupWMClass=libreoffice-base
X-KDE-Protocols=file,http,smb,ftp,webdav
[Desktop Action NewDatabase]
Name=New Database
Exec=libreoffice --base
OnlyShowIn=Unity;
