[Desktop Entry]
Name=Formula Editor
Name[de]=Formeleditor
Name[fr]=Éditeur de formules
Comment=LibreOffice Math
Version=1.0
Terminal=false
Icon=libreoffice-math
Type=Application
Categories=Office;Education;Science;Math;
Exec=libreoffice --math %U
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.sun.xml.math;application/vnd.oasis.opendocument.formula-template;text/mathml;
StartupNotify=true
X-GIO-NoFuse=true
Keywords=Equation;OpenDocument Formula;Formula;odf;
InitialPreference=5
Actions=NewFormula
StartupWMClass=libreoffice-math
X-KDE-Protocols=file,http,smb,ftp,webdav
